@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: border-box;
}
body {
  background-color: white;
}

/* -------first head section(phone animation and stuffs)---- */

header {
  background-color: #2aa5ce !important;
  background-image: linear-gradient(90deg, #2aa5ce 20%, #50e590 100%);
  height: 100vh;
  overflow: hidden;
}
.logo {
  position: absolute;
  padding: 10px;
  z-index: 3;
}
.phones {
  /* -------CONTAINER FOR HEADER PHONES-------- */
  width: 100vh;
  position: absolute;
  top: 10%;
  left: 5%;
}
.phone1 {
  /* ----------TOP PHONE--------- */
  position: absolute;
  /* border: solid 2px red; */
  left: 0;
  z-index: 4;
  top: 30%;
  height: 100vh;
  margin-top: 10%;
}
.phone2 {
  /* ---------BOTTOM PHONE-------- */
  position: absolute;
  /* border: solid 2px rgb(111, 0, 255); */
  height: 80vh;
  z-index: 3;
  left: 15em;
}
.appname {
  /* ---------LETTERINGS ON WIDE HEADER------- */
  position: absolute;
  gap: 10px;
  bottom: 5rem;
  right: 8rem;
  z-index: 5;
  width: 30rem;
}

.nme {
  /* --------BIG TITLE------ */
  font-size: 80px;
  font-family: "open sans";
  font-weight: bold;
  color: white;
  line-height: 86px;
  padding-bottom: 50px;
}
.htext {
  /* ----------BIG TEXT-------- */
  color: white;
  font-family: "open sans";
  line-height: 27px;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 50px;
}
.txt {
  /* ------NORMAL TEXT------- */
  font-family: "open sans";
  font-weight: 100;
  color: rgb(128, 128, 128);
  transform: scale(100%, 90%);
}
.txth {
  /* --------NORMAL TEXT TITLE------- */
  color: rgb(128, 128, 128);
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.one {
  /* ---------FADED TEXT---------- */
  filter: opacity(40%); /* powered by wordpress... */
}
.container {
  max-width: 80%;
  padding: 4rem 0 4rem 0;
  margin: 0 auto;
}
.container1 {
  position: relative;
}
.contain {
  position: relative;
  height: 100vh;
}
.img1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1;
  width: 120%;
  filter: opacity(20%);
}
.img2 {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(180deg);
  width: 70%;
  z-index: 2;
  filter: opacity(50%);
}
.img3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  height: 100vmax;
  filter: opacity(50%);
}

/* --------------section1---------------- */

.section1 {
  display: flex;
  gap: 20px;
  justify-content: space-betweem;
  align-items: flex-start;
  width: 100%;
  padding: 5% 10%;
  flex-grow: 1;
  background-color: white;
  min-width: 300px;
}
.sec1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* ----------------section2-------------------- */

.section2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  gap: 40px;
  background-color: rgb(248, 248, 249);
  flex-shrink: 1;
}
/* -------------------section3--------------------- */
.section3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  gap: 40px;
  background: white;
}
.stickerbg {
  background: white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.sticker {
  /* padding-top: 5px; */
  filter: invert(56%) sepia(35%) saturate(881%) hue-rotate(148deg)
    brightness(94%) contrast(93%);
  padding: 18px;
}

.bluetitle {
  color: #2aa5ce;
  line-height: 32px;
  font-size: 22px;
}
.appnme {
  font-family: "open sans";
  font-size: 48px;
  line-height: 58px;
  color: rgb(128, 128, 128);
  margin-bottom: 35px;
}
.gallery1 {
  will-change: auto;
}
.gallery2 {
  width: 50%;
  /* height: 50%; */
}
.galltxt {
  will-change: auto;
}

.unique {
  text-align: center;
  margin-bottom: 0;
}
.uniqueicon {
  height: 2rem;
  align-self: flex-start;
}
.uniques {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 4rem;
}
.rowwfirst {
  display: flex;
}
.second {
  flex-direction: row-reverse;
}
.rowwcont {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
/* -------------------------SECTION 4----------------- */
.section4 {
  background-color: rgb(248, 248, 249);
  min-width: 300px;
}
.colum1 {
  height: 100%;
}
.section4 {
  background-color: rgb(248, 248, 249);
}
.dash {
  /* ------------------BLUE DOTTED DESIGNS--------- */
  border-left-width: 1px;
  border-left-style: dashed;
  border-color: rgba(50, 155, 210, 0.5);
  height: 100px;
  width: 0px;
  margin-left: 50%;
}
.bold {
  color: #45474b;
  font-weight: 600;
  font-size: 15px;
  line-height: 35px;
  padding-bottom: 5px;
}
.yo {
  font-size: 14px;
  font-family: open sans;
  padding-bottom: 10px;
}

/* --------SECTION 5--------- */

.section5 {
  background-color: white;
  background-image: linear-gradient(90deg, #2aa5ce 15%, #50e590 100%);
}
.bannerdownload {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 4rem 0 1rem 0 !important;
}
.imgdownload {
  justify-self: right;
}
.downloadtext {
  font-size: 38px;
  line-height: 45px;
  color: white;
}
.availabletext {
  font-size: 22px;
  color: white;
}

/* ------------SECTION 6----------- */

.section6 {
  background-color: white;
  /* display: flex;
  flex-direction: column; */
  position: relative;
}
.--6 {
  max-width: 100% !important;
  padding: 0 !important;
  margin: 0 auto;
  /* overflow: hidden; */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 30rem;
  margin-right: 10rem;
  margin-bottom: 4rem;
  column-gap: 2rem;
}
.handheld {
  position: relative;
  width: 100%;
}
.handheldimg {
  width: 970;
  height: 946;
  position: absolute;
  top: 0;
  left: -25rem;
  /* padding-left: -30px; */
}
.outstanding {
  grid-row: 1;
  grid-column: span 2;
  justify-self: left;
  align-self: flex-end;
  margin-bottom: 2rem !important;
}
.hh1 {
  margin-bottom: 2rem;
}
.hh2 {
  grid-row: 3;
}
.hh3 {
  margin-bottom: 2rem;
}
.hh4 {
  grid-column: 2;
  margin-bottom: 2rem;
}
.sec6 {
  padding: 0 !important;
}
/* -----------------MEDIA QUERY--------------- */
@media (max-width: 1250px) {
  .handheldimg {
    left: -30rem;
  }
}

/* -----less than 1200px------- */

@media (max-width: 1200px) {
  .handheldimg {
    left: -35rem;
  }
  .phone1 {
    width: 200px;
    height: 400px;
  }
  .phone2 {
    width: 150px;
    height: 300px;
    left: 10rem;
    bottom: -24rem;
  }
}

/* -----less than 1100px------- */

@media (max-width: 1100px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }

  .section2 {
    padding-left: 0;
    padding-right: 0;
  }
  .section3 {
    padding-right: 0%;
    padding-left: 0%;
  }
  .gallery1 {
    width: 500px;
    height: 500px;
  }

  .dash {
    height: 5rem;
  }
  .handheldimg {
    left: -40rem;
  }
}

/* -----less than 1000px------- */

@media (max-width: 1000px) {
  .appname {
    left: 20rem;
    bottom: 5rem;
  }
  .phone1 {
    width: 190px;
    height: 250px;
    left: 18rem;
  }
  .phone2 {
    width: 120px;
    height: 200px;
    left: 25rem;
    bottom: -15rem;
  }
  .nme {
    font-size: 50px;
    padding: none;
    margin-bottom: -10rem;
  }
  .htext {
    height: 0px;
    width: 0;

    visibility: hidden;
  }
  .store {
    height: 2.5rem;
  }

  .handheldimg {
    left: -50rem;
  }
}

/* -----less than 900px------- */

@media (max-width: 900px) {
  .container {
    max-width: 80%;
    margin: 0 auto;
  }

  .sec1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .section1 {
    flex-direction: column;
  }
  .section2 {
    flex-direction: column-reverse;
    padding: 3rem;
  }
  .section3 {
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
  }

  .uniques {
    flex-direction: column;
  }
  .bannerdownload {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
  }
  .downloadtext {
    margin-bottom: 0;
  }
  .imgdownload {
    justify-self: left;
  }
  .gallery1 {
    width: 250px;
    height: 300px;
  }
  .rowwfirst {
    display: flex;
    flex-direction: row-reverse;
  }
  .rowwcont {
    display: flex;
    flex-direction: column;
  }
  .uniqueicon {
    align-self: flex-start;
  }
  .dash {
    height: 1rem;
  }
  .android {
    padding-bottom: 1rem;
  }
  .apple {
    padding-bottom: 1rem;
  }

  /* -----------SECTION 6---------- */
  .section6 {
    max-width: 80%;
    margin: 2rem auto;
  }
  .--6 {
    display: flex;
    flex-direction: column;
  }
  .handheldimg {
    width: 0;
  }
}

/* -------less than 800px----- */

@media (max-width: 800px) {
  .dash {
    height: 3rem;
  }
}
/* -------less than 450px----- */

@media (max-width: 450px) {
  .appname {
    left: 3rem;
    bottom: 5rem;
  }
  .phone1 {
    width: 150px;
    height: 200px;
    left: 4rem;
  }
  .phone2 {
    width: 90px;
    height: 150px;
    left: 10rem;
    bottom: -13rem;
  }
  .nme {
    font-size: 50px;
    padding: none;
    margin-bottom: -10rem;
  }
  .htext {
    height: 0px;
    width: 0;

    visibility: hidden;
  }
  .store {
    height: 2.5rem;
  }

  .dash {
    height: 5rem;
  }
}
